{% extends 'frontbase.html.twig' %}

{% block title %}Shopcart Order Items  {% endblock %}

{% block sidebar %}{% include( 'home/usersidebar.html.twig') %}{% endblock %}
{% block content   %}
<div class="w3l_banner_nav_right">
    <!-- about -->
    <div class="privacy about">
    <h1>Spariş oluştur</h1><br>

    {{ include('orders/_form.html.twig') }}



    </div>
    <!-- //about -->
</div>
    <div class="clearfix"></div>
    </div>
    <!-- //banner -->
    <!-- team -->

{% endblock %}